/* 
   Big J's Deep Dish Pizza style sheet 
   Filename: styles.css

   Author: Matt Brundage II  
   Date: 9/19/21    
   HTML5 and CSS3 Illustrated Unit D, Skills Review
 */

 /* reset styles */
 article, body, div, footer, header, h1, h2, h3, p {
    border-width: 0;
 }

/* body and page container */
.container {
   background-color: black;
   text-align: center;
   max-width: 640px;
}

/* headings */
header {
   background-color: black;
}
header div {
   color: white;
   width: 70%;
   border: 3px, red;
}
header p {
   color: black;
   background-color: white;
}
header p.phone {
   color: white;
   background-color: black;
}

/* main content */
article {
   color: black;
   background-color: white;
   text-align: left;
}
h3 {
   color: red;
}

/* footer section */
footer {
   background-color: white;
   color: black;
}